{
  "swagger": "2.0",
  "info": {
    "title": "K2demo",
    "description": "",
    "version": "1.0.0"
  },
  "schemes": [
    "https"
  ],
  "basePath": "/api/v1/workflow/published",
  "x-ntx-object-variable-support": false,
  "host": "npp-abesse.workflowcloud.com",
  "paths": {
    "/bf9b129b-521d-40d7-8167-3916c27ec139/instances": {
      "post": {
        "summary": "K2demo",
        "description": "Starts workflow: K2demo",
        "operationId": "startbf9b129b-521d-40d7-8167-3916c27ec139",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "API Parameters",
            "required": true,
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "startData": {
                  "type": "object",
                  "properties": {
                    "se_signature": {
                      "title": "Signature",
                      "description": "",
                      "type": "string",
                      "format": "x-ntx-file-reference"
                    },
                    "se_email": {
                      "title": "Email",
                      "description": "",
                      "type": "string"
                    },
                    "se_name": {
                      "title": "Name",
                      "description": "",
                      "type": "string"
                    }
                  }
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "callbackUrl": {
                      "title": "Callback URL on completion",
                      "description": "A Url to return the results back (https urls only)",
                      "type": "string"
                    },
                    "instanceToken": {
                      "title": "Instance Token",
                      "description": "An instance token handle obtained by invoking instances/create call. This token is used when files have to be uploaded as part of the workflow start variables.",
                      "type": "string",
                      "x-ms-visibility": "internal"
                    }
                  }
                }
              }
            }
          },
          {
            "name": "token",
            "required": true,
            "type": "string",
            "in": "query",
            "default": "AXI7jO8wa9g814utYcd8m8N4NjwcC11LlORnEou3ifEfucYbH4VMbtL6EI3h0R3vB5Bwzg",
            "description": "A security token to start the workflow",
            "x-ntx-summary": "Token"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "x-ntx-callback-schema": {
              "type": "object",
              "properties": {
                "returnData": {
                  "type": "object",
                  "properties": {
                    "se_signature": {
                      "title": "Signature",
                      "description": "",
                      "type": "string",
                      "format": "x-ntx-file-reference"
                    },
                    "se_email": {
                      "title": "Email",
                      "description": "",
                      "type": "string"
                    },
                    "se_name": {
                      "title": "Name",
                      "description": "",
                      "type": "string"
                    },
                    "c_signedfile": {
                      "title": "SignedFile",
                      "description": "",
                      "type": "string",
                      "format": "x-ntx-file-reference"
                    },
                    "c_signedcollection": {
                      "title": "SignedCollection",
                      "description": "",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "c_agreementid": {
                      "title": "AgreementID",
                      "description": "",
                      "type": "string"
                    },
                    "c_file": {
                      "title": "File",
                      "description": "",
                      "type": "string",
                      "format": "x-ntx-file-reference"
                    },
                    "c_pathscollection": {
                      "title": "PathsCollection",
                      "description": "",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "c_filescollection": {
                      "title": "FilesCollection",
                      "description": "",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "workflow": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "410": {
            "description": "Gone"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "503": {
            "description": "Service Unavailable - Overloaded"
          },
          "default": {
            "description": "Unexpected Error"
          }
        }
      }
    },
    "/bf9b129b-521d-40d7-8167-3916c27ec139/instances/create": {
      "post": {
        "summary": "K2demo",
        "description": "Creates an instance of workflow: K2demo & returns an instance token, that should be used for uploading files and/or starting the workflow instance.",
        "operationId": "createbf9b129b-521d-40d7-8167-3916c27ec139",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "token",
            "required": true,
            "type": "string",
            "in": "query",
            "default": "AXI7jO8wa9g814utYcd8m8N4NjwcC11LlORnEou3ifEfucYbH4VMbtL6EI3h0R3vB5Bwzg",
            "description": "A security token to create the workflow instance",
            "x-ntx-summary": "Token"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "410": {
            "description": "Gone"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "503": {
            "description": "Service Unavailable - Overloaded"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/bf9b129b-521d-40d7-8167-3916c27ec139/instances/uploads": {
      "post": {
        "summary": "K2demo",
        "description": "Uploads a file for use by an instance of workflow: K2demo",
        "operationId": "uploadbf9b129b-521d-40d7-8167-3916c27ec139",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Transfer-Encoding",
            "required": true,
            "type": "string",
            "in": "header",
            "enum": [
              "chunked"
            ],
            "default": "chunked",
            "description": "Only accepts Chunked Transfer Encoding"
          },
          {
            "name": "File",
            "required": true,
            "type": "file",
            "in": "formData",
            "description": "The file part of the multipart request for file upload. You can upload only one file at a time."
          },
          {
            "name": "File-Name",
            "required": true,
            "type": "string",
            "in": "formData",
            "description": "A name for the file being uploaded. If not provided, defaults to File's filename."
          },
          {
            "name": "Instance-Token",
            "required": true,
            "type": "string",
            "in": "formData",
            "description": "Instance token from the instances/create call."
          },
          {
            "name": "token",
            "required": true,
            "type": "string",
            "in": "query",
            "default": "AXI7jO8wa9g814utYcd8m8N4NjwcC11LlORnEou3ifEfucYbH4VMbtL6EI3h0R3vB5Bwzg",
            "description": "A security token",
            "x-ntx-summary": "Token"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "description": "File reference",
              "format": "x-ntx-file-reference",
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "410": {
            "description": "Gone"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "503": {
            "description": "Service Unavailable - Overloaded"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "x-ms-visibility": "internal"
      }
    }
  }
}